.el-button {
  box-sizing: border-box;
  min-width: 82px;
  border-radius: 0 !important;
}
.el-button--small {
  font-size: 14px !important;
  height: 32px;
  padding: 8px 15px;
}
.el-input__inner {
  border-radius: 0 !important;
}
// 列表页过滤区域
.filter-form {
  display:  flex;
  flex-wrap: wrap;
  .el-form-item {
    display: flex;
    margin-right: 20px;
    .el-form-item__label {
      width: 90px;
    }
  }
}
@color-primary: #4662E6;
