.el-button {
  box-sizing: border-box;
  min-width: 82px;
  border-radius: 0 !important;
}
.el-button--small {
  font-size: 14px !important;
  height: 32px;
  padding: 8px 15px;
}
@color-primary: #4662E6;
